.Empty-PR {
  border: 1px solid black;
  margin-top: 1em;
  border-radius: 5px;
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.user-info {
  float: none;
  margin: auto;
}
.user-avatar {
  width: 80px;
  border-radius: 5px;
  margin-right: 10px;
  vertical-align: bottom;
}
.user-name {
  font-size: 1.6rem;
}
